<div class="bootstrap-wrapper">
    <div class="container text-center mt"  >
        <h1 class="text-center">We welcome you to CropDeal App</h1>
        <p style="font-weight: bold">You can Start your journey with us by logging in</p>

        <a style="margin: 2cm" routerLink="/farmerLogin" mat-raised-button color="warn" >Login for Farmer</a>
        <a style="margin: 2cm" routerLink="/dealerLogin" mat-raised-button color="warn" >Login for Dealer</a>
       <div>
        <a style="margin: 1cm" routerLink="/farmerLogin">
            <img src="/assets/2.jpg" alt="Farmer" class="avatar">
            </a>
        <a style="margin: 1cm" routerLink="/dealerLogin">
            <img src="/assets/dealer.jpg" alt="Dealer" class="avatar">
        </a>
            
    </div>
        
    </div>


</div>