<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
    <a class="navbar-brand" style="color:white;">List of the Crops available for sale</a> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation"> 
    <span class="navbar-toggler-icon"></span> 
    </button> 
    <div class="collapse navbar-collapse" id="navbarColor02"> 
       <ul class="navbar-nav mr-auto"> 
          <li class="nav-item active"> 
            
          </li> 
       </ul> 
       <a style="margin: 0.5em" mat-raised-button routerLink="/payment" color="accent">Payment Window</a>
    </div> 
  </nav> 
  <div class="container" id="main-container"> 
  <div class="row"> 
    <div *ngFor="let crop of CropDetails" class="col-md-6 col-xl-3"> 
       <div class="card m-b-30"> 
          <div class="card-body row"> 
             <div class="col-6 card-title align-self-center mb-0"> 
                <h2>{{crop?.type}}</h2> 
                <p class="m-0">quantity : {{crop?.quantity}}</p> 
             </div> 
          </div> 
          <ul class="list-group list-group-flush"> 
             <li class="list-group-item"><i class="fa fa-envelope float-right"></i>address & contact : {{crop?.address}}</li> 
            
          </ul> 
          <div class="card-body"> 
             <div class="float-right btn-group btn-group-sm"> 
                
             </div> 
          </div> 
       </div> 
    </div> 
  </div> 
   